{
  "extends": "eslint-config-floobits",
  "globals": {
    "atom": false,
    "document": false,
    "MediaStreamTrack": false,
    "window": false
  },
  rules: {
    "consistent-this": [1, "that"]
  }
}
