# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable Floobits': 'floobits:JoinWorkspace'
      'Enable Floobits': 'floobits:JoinRecentWorkspace'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Floobits'
      'submenu': [
        { 'label': 'Join Workspace', 'command': 'floobits:JoinWorkspace' }
        { 'label': 'Join Recent Workspace', 'command': 'floobits:JoinRecentWorkspace' }
        { 'label': 'Leave Workspace', 'command': 'floobits:LeaveWorkspace' }
      ]
    ]
  }
]
