# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable Floobits': 'floobits: Join Workspace'
      'Enable Floobits': 'floobits: Join Recent Workspace'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Floobits'
      'submenu': [
        { 'label': 'Join Workspace', 'command': 'floobits: Join Workspace' }
        { 'label': 'Join Recent Workspace', 'command': 'floobits: Join Recent Workspace' }
        { 'label': 'Leave Workspace', 'command': 'floobits: Leave Workspace' }
      ]
    ]
  }
]
