// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "./userlist.less";
@import "./welcome.less";
//@import "./lesshat.less";
@import "bootstrap.less";
@import "octicon-mixins";
@import "join.less";

@transition-time: 0.5s;
@size: 2px;

.make_highlight_dark(@hlcolor) {
  .floobits-highlight-dark_@{hlcolor} .region {
    background-color: @hlcolor;
    opacity: .3;
  }
  .floobits-highlight-dark_@{hlcolor}.line-number:before {
      border-right: @size solid @hlcolor;
      content: " ";
      transition: @transition-time;
  }
}

.floobits-highlight-light(@hlcolor) {
  .floobits-highlight_@{hlcolor}.region {
    background-color: @hlcolor;
    opacity: .8;
  }
  .floobits-highlight_@{hlcolor}.line-number:before {
      border-right: @size solid @hlcolor;
      content: " ";
      transition: @transition-time;
  }
}

.make_highlight_dark(e("black"));
.make_highlight_dark(e("blue"));
.make_highlight_dark(e("darkblue"));
.make_highlight_dark(e("fuchsia"));
.make_highlight_dark(e("gray"));
.make_highlight_dark(e("green"));
.make_highlight_dark(e("greenyellow"));
.make_highlight_dark(e("indigo"));
.make_highlight_dark(e("lime"));
.make_highlight_dark(e("magenta"));
.make_highlight_dark(e("maroon"));
.make_highlight_dark(e("midnightblue"));
.make_highlight_dark(e("orange"));
.make_highlight_dark(e("orangered"));
.make_highlight_dark(e("purple"));
.make_highlight_dark(e("red"));
.make_highlight_dark(e("teal"));
.make_highlight_dark(e("yellow"));

floobits-conflicts div {
  padding: 10px;
  color: white;
}

.floobits-close-icon {
  .octicon(x, 24px);
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  z-index: 100000;
  cursor: default;
}

.floobits-arrow-up-icon {
  .octicon(chevron-up, 24px);
  position: absolute;
  top: 5px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  z-index: 100000;
  cursor: default;
}

.floobits-eject-icon {
  .octicon(jump-down, 24px);
  position: absolute;
  top: 5px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  z-index: 100000;
  cursor: default;
}

.floobits-video-icon {
  .octicon(device-camera-video, 24px);
  position: absolute;
  top: 5px;
  right: 0px;
  margin: 0 auto;
  text-align: center;
  z-index: 100000;
  cursor: default;
}